.header {
  padding: 1rem 0 3rem;
}
.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
  opacity: 0.7;
  max-width: 750px;
  // background-color: #f9dd00;
}
.nav-item {
  color: #582c83;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  padding: 12.5px;
}
.nav-item:hover {
  color: #ffffff;
  background-color: #f9dd00;
  // padding: 14.5px;
}

.active-nav-item {
  // color: #333333;
  color: #ffffff;
  background-color: #f9dd00;
}
ul li {
  margin-bottom: 0;
  padding: 0.5rem 0;
}
